body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: Arial, Helvetica, sans-serif;
}
.Polaris-Frame__Content {
  background: white !important;
}
